doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title AWS CI/CD Workshop
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        header
            h1 AWS CI/CD Workshop
        main
            section
                h2 Introduction
                p Welcome to the AWS CI/CD workshop! In this workshop, you'll learn how to set up a continuous integration and continuous deployment pipeline using AWS services.

